*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.idea
.project
.strong-pm
coverage
node_modules
node_modules*
**/node_modules
**/*.zip
npm-debug.log
.vscode/
*.log.*



